context.xml
/target/
bin
.classpath
.settings/org.eclipse.ltk.core.refactoring.prefs
.settings/org.eclipse.wst.common.component
.settings/org.eclipse.wst.ws.service.policy.prefs
org.eclipse.wst.common.project.facet.core.xml
src/main/webapp/dspResources/.DS_Store
/.DS_Store
