.btn:focus,
button:focus {
  outline: 0;
}
*.unstyled-link {
  color: #333333;
}
*.unstyled-link:hover {
  text-decoration: none;
  color: #333333;
}
h1,
h2,
h3 {
  color: #000000;
}
.form-sub-heading {
  border-bottom: 1px solid #dddddd;
  font-size: 14px;
}
.panel .form-sub-heading {
  background-color: #f5f5f5;
  border-top: 1px solid #dddddd;
}
.panel.panel-has-nav {
  background-color: #666;
}
.panel .tab-content {
  background-color: #ffffff;
}
.panel.panel-collapsed .panel-heading {
  border-bottom: 0;
}
.panel-nav {
  border-bottom: 0;
}
.panel-nav > li a {
  border: 0;
  color: #fff;
  font-weight: bold;
}
.panel-nav > li a:hover {
  background-color: #555;
  border: 0;
  padding-bottom: 9px;
}
.panel-nav > li.active a {
  color: #666;
}
.panel-nav > li.active a:hover {
  background-color: #ffffff;
  padding-bottom: 10px;
}
.sub-nav .nav-pills > li > a {
  color: #cccccc;
}
.sub-nav .nav-pills > li > a:hover {
  color: #333;
  background-color: transparent;
}
.sub-nav .nav-pills > li > a:hover > .badge {
  background-color: #333;
}
.sub-nav .nav-pills > li.disabled > a,
.sub-nav .nav-pills > li.disabled:hover {
  color: #cccccc;
}
.sub-nav .nav-pills > li.disabled > a > .badge {
  background-color: #cccccc;
}
.sub-nav .nav-pills > li.active > a,
.sub-nav .nav-pills > li.active > a:hover,
.sub-nav .nav-pills > li.active > a:focus {
  color: #0096ff;
  background-color: transparent;
}
.sub-nav .nav-pills > li.active > a .badge,
.sub-nav .nav-pills > li.active > a:hover > .badge {
  color: #ffffff;
  background-color: #0096ff;
}
.secondary-nav .nav > li > a {
  border-radius: 0;
  color: #333333;
  font-weight: bold;
  border-bottom: 1px solid #efefef;
}
.secondary-nav .nav li ul li a {
  color: #0096ff;
  font-weight: normal;
  border-bottom: 0;
}
.secondary-nav .nav li.active a {
  color: #ffffff;
  background-image: url('../../../img/admin/sp-common.png');
  background-repeat: no-repeat;
  background-position: right 8px;
}
.secondary-nav .nav .badge {
  background-color: #333;
}
.secondary-nav .nav .disabled a {
  color: #999;
}
.secondary-nav .nav .disabled .badge {
  background-color: #cccccc;
}
.secondary-nav .nav .complete .badge {
  background-color: #009900;
}
.primary-nav {
  border: 0;
  background-color: rgba(0, 0, 0, 0.4);
}
.primary-nav .navbar-nav li > a,
.primary-nav .navbar-nav li > a:hover,
.primary-nav .navbar-nav li.active > a,
.primary-nav .navbar-nav li.active > a:hover {
  color: #ffffff;
}
.primary-nav .navbar-nav li.active > a {
  background-color: rgba(0, 0, 0, 0.3);
}
.primary-nav .navbar-nav li.active > a:hover {
  background-color: rgba(0, 0, 0, 0.3);
}
@media (min-width: 768px) {
  .primary-nav .navbar-nav li > a {
    border-right: 1px solid rgba(0, 0, 0, 0.2);
    border-left: 1px solid rgba(255, 255, 255, 0.25);
  }
}
.primary-nav .navbar-nav li > a:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
.primary-nav .navbar-nav li:first-child > a {
  border-left: 0;
}
.primary-nav .navbar-nav li:last-child > a {
  border-right: 0;
}
.icon-bar {
  background-color: #ffffff;
}
.navbar-brand,
.navbar-brand:hover {
  color: #ffffff;
}
.actions-nav {
  border-bottom: 0;
  border-top: 0;
  background-color: #ffffff;
  border-bottom: 1px solid #efefef;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: 0 5px 10px 0 #efefef;
  box-shadow: 0 5px 10px 0 #efefef;
}
.actions-nav .navbar-nav > li > a {
  color: #0096ff;
}
.actions-nav .navbar-nav > li > a:hover {
  color: #0078cc;
}
.section-title {
  font-weight: bold;
}
.arrow-left {
  background-image: url('../../../img/admin/sp-common.png');
  background-repeat: no-repeat;
  background-position: -20px 0;
}
.arrow-up {
  background-image: url('../../../img/admin/sp-common.png');
  background-repeat: no-repeat;
  background-position: 0 0;
}
.footer {
  border-top: 1px solid #cccccc;
  background-color: #efefef;
  color: #666666;
}
.icon-cancel {
  background-image: url('../../../img/admin/sp-common.png');
  background-repeat: no-repeat;
  background-position: -80px 0;
}
.login {
  background-color: #ffffff;
  border-radius: 2px;
  overflow: hidden;
  border: 1px solid #cccccc;
  -webkit-box-shadow: 0px 0px 10px 0 #cccccc;
  box-shadow: 0px 0px 10px 0 #cccccc;
}
.login .login-header {
  background-color: #666;
  color: #fff;
}
.table-default {
  border-bottom: 1px solid #efefef;
}
.table > tbody > tr.table-section-title > td {
  background-color: #fff;
  font-size: 14px;
}
body#login,
body#notFound {
  background-color: #efefef;
}
.btn-secondary {
  background-color: #ffffff;
  border: 1px solid #ccc;
  color: #0096ff;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary:active {
  background-color: #efefef;
  color: #0096ff;
}
.btn-primary[disabled] {
  background-color: #999999;
  border-color: #999999;
}
label .tooltip {
  font-weight: normal;
}
.badge-help {
  color: #0096ff;
  background-color: #fff;
  border: 1px solid #0096ff;
  text-align: center;
  font-size: 12px;
  font-weight: bold;
  cursor: pointer;
}
.badge-help:hover {
  background-color: #0096ff;
  color: #fff;
}
label .badge-help {
  margin-left: 3px;
}
.header {
  background-image: url('../../../img/admin/health-e-link/bg-header.jpg');
}
.primary-nav {
  background-color: rgba(0, 0, 0, 0.4);
}
.primary-nav li:last-child > a {
  border-right: 0;
}
.logo {
  background-image: url('../../../img/admin/health-e-link/sp-health-e-link.png');
  background-repeat: no-repeat;
  background-position: 0 0;
}
.login-header {
  background-image: url('../../../img/admin/health-e-link/bg-header.jpg');
}
.login-header-content {
  background-color: rgba(0, 0, 0, 0.4);
}
.lt-ie9 .primary-nav {
  background: transparent;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#30000000', endColorstr='#30000000');
  zoom: 1;
}
.lt-ie9 .primary-nav .navbar-nav li.active > a {
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#60000000', endColorstr='#30000000');
}
.lt-ie9 .primary-nav .navbar-nav li.active > a:hover {
  background: transparent;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#60000000', endColorstr='#30000000');
}
.lt-ie9 .primary-nav .navbar-nav li > a:hover {
  background: transparent;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#30000000', endColorstr='#30000000');
}
.lt-ie9 .login-header-content {
  background: transparent;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#30000000', endColorstr='#30000000');
  zoom: 1;
}


.table-striped tbody tr:nth-child(odd) td, .table-striped tbody tr:nth-child(odd) th {
    background-color: #f9f9f9;
}
.table-striped tbody tr:hover td, .table-striped tbody tr:hover th {
    background-color: #f5f5f5;
}

table .tableheader {
    cursor: pointer;
}

table .tableheader:after {
    content: "";
    float: right;
    margin-top: 7px;
    border-width: 0 4px 4px;
    border-style: solid;
    border-color: #000 transparent;
    visibility: hidden;
}
table .headerSortUp, table .headerSortDown {
    background-color: transparent;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
}
table .tableheader:hover:after {
    visibility: visible;
}
table .headerSortDown:after, table .headerSortDown:hover:after {
    visibility: visible;
    filter: alpha(opacity=60);
    -khtml-opacity: 0.6;
    -moz-opacity: 0.6;
    opacity: 0.6;
}
table .headerSortUp:after {
    border-bottom: none;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid #000;
    visibility: visible;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    filter: alpha(opacity=60);
    -khtml-opacity: 0.6;
    -moz-opacity: 0.6;
    opacity: 0.6;
}


div.dataTables_length label {
    width: 560px;
    float: left;
    text-align: left;
}

div.dataTables_length select {
    width: 75px;
}

div.dataTables_filter label {
    float: right;
    width: 250px;
}

div.dataTables_info {
    padding-top: 8px;
}

div.dataTables_paginate {
    float: right;
    margin: 0;
}

table {
    margin: 1em 0;
    clear: both;
}

table.dataTable th:active {
    outline: none;
}
